<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">

    <title>Travelzen Work Order</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/navbar-fixed-top.css" rel="stylesheet">


    <script src="/static/js/ie-emulation-modes-warning.js"></script>


  </head>

  <body>


    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
<!--        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" >Work order system</a>
        </div>-->
          <!-- <a class="navbar-brand" >Work order system</a> -->


        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Work order system</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="">Work order system</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav ">
            <li><a href="/app-one/">我的工单</a></li>
            <li><a href="/app-close/0/">我的历史</a></li>
            <li><a href="/app-im/">新建工单</a></li>
<!--             <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li> -->
          </ul>
        <!-- </div>/.nav-collapse  -->
      




        <!-- <div  class="navbar-collapse collapse clearfix"> -->
<!--          <div class="btn-group pull-left ">
          <a href="/app-one/" class="btn btn-primary" role="button">我的工单</a>
          <a href="/app-close/0/" class="btn btn-default" role="button">历史</a>
          <a href="/app-im/" class="btn btn-primary " role="button" >新建工单</a>

          <a   href="/app-one/">我的工单</a>
          <a   href="/app-close/0/">历史</a>
         <a  class="" style="margin-left: 18px;" href="/app-im/">新建工单</a>


         </div> -->
            <form  method="post" >
            <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
             {% if user != "anybody" %}
             <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> 你好,{{ user|upper }}!</a>
             <ul class="dropdown-menu" role="menu">
               <li><a href="/app-info/">切换用户</a></li>
               <li><a href="/app-logout/">退出</a></li>
             </ul>
             </li>
             </ul>
             {% else %}
              <a href="/app-info/" class="nav navbar-nav" >登陆</a>
             {% endif %}
            </form>
      </div>
      </div>
    </nav>

    <div class="container">
      {% block content %}
      <div class="jumbotron">
        <div class="table-responsivei span12">
          <table class="table table-hover">
            <thead>
              <tr>
                  <th width="20%">    </th>
                  <th width="20%">IT故障人</th>
                  <th width="20%">创建时间</th>
                  <th width="20%">紧急情况</th>
                  <th width="20%">当前状态</th>
              </tr>
            </thead>
            <tbody>
            {% for s in con %}
            {% if s.status != tag  %}
             {% if user == "anybody" or user == "root" %}
              <tr>
                <td><a href="/index/{{ s.id }}/">{{ s.problem }}</a></td>
                <td>{{ s.createuser }}</td>
                <td>{{ s.createtime }}</td>
                <td>{{ s.grade }}</td>
                <td>{{ s.status }}</td>
               <!-- <td class="table-status"><span class="label label-success">{{ s.status }}</span></td>-->
              </tr>
             {% elif user == s.author %}
              <tr>
                <td><a href="/index/{{ s.id }}/">{{ s.problem }}</a></td>
                <td>{{ s.createuser }}</td>
                <td>{{ s.createtime }}</td>
                <td>{{ s.grade }}</td>
                <td>{{ s.status }}</td>
              </tr>
             {% endif %}
            {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>


<!-- <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</button>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...Login
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div> -->



    </div>
    {% endblock %}
    </div>
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap-wysiwyg.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/static/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
