{% extends "app_one1.html" %}
{% block content %}

<form class="form-signin" method="post" action="" enctype="multipart/form-data">
<div class="jumbotron">

    <div class="table-responsive">
    <table class="table ">

    <div>
    <p><span> 工单创建人:{{ pro.author }}<br>工单事件人:{{ pro.createuser }}<br>部门:{{ pro.branch }}</span> </p>
    </div>

    <div style="color:">
    故障详情:
    <br>
    <pre>{{ pro.content }}
        {% if pro.status != state_one %}
    <br>故障处理人:{{ pro.enumerate }}<br>
        {% endif %}
    {% if pro.img %}
    <img src="/media/{{ pro.img }}" class="img-responsive"/>
    {% endif %}
    </pre>
    </div>


{% if pro.status != state_one and s == "1" or user == "root" %}
<div>
<button type="button" name="test" class="btn btn-default" data-toggle="modal" data-target="#myModal">
  更改故障处理人
</button>
<button class="btn btn-info" type="submit" >OK</button>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        {{ form.as_p }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
      </div>
    </div>
  </div>
</div>
</div>
{% endif %}


</table>
</div>
</div>
</form>
{% endblock %}
