<form action="" method="post">
        <div class="field">
            <label >Time:</label>
            {{ form.time }}
        </div>
        <div class="field">
            <label >Apps:</label>
            {{ form.apps }}
        </div>
        <div class="field">
            <label >Ipaddr:</label>
            {{ form.ipaddr }}
        </div>
        <div class="field">
            <label >Content:</label>
            {{ form.content }}
        </div>
        <input type="submit" value="Submit">
    </form>
