

{% extends "index3.html" %}
{% block content %}


<form class="form-signin" method="post" action="" enctype="multipart/form-data">

<div class="jumbotron">
<div class="table-responsive">
<table class="table table-striped">

<!--
<script type="text/javascript" src="/static/js/tinymce/tinymce.min.js"></script>
<script type="text/javascript">
tinymce.init({
    selector: "textarea"
 });
</script>

-->
{% if user %}

{{ form.as_table }}

</table>
</div>
<input class="active" type="submit" value="OK"/>
</div>

{% else %}
<td><a href="/info/">Please Login</a></td>

{% endif %} 

</form>
{% endblock %}
